# Uniquement nécessaire au moment du déploiement distant.
ELEVENLABS_API_KEY=
ELEVENLABS_FR_VOICE_ID=
ELEVENLABS_EN_VOICE_ID=
ELEVENLABS_SW_VOICE_ID=
NEXT_PUBLIC_ELEVENLABS_AGENT_ID=agent_2401m265f99wezps3563sxv0a0va
